<div class="nav">
    <div class="logo">GIB'S MIR MEHR</div>
    <ul>
        <li><a href="/thanks">Your Signature</a></li>
        <li><a href="/thanks">Your Profile</a></li>
        <li class="signout"><a href="/signout" class="signout">Signout</a>
        </li>
    </ul>
</div>
