<div class="nav">
    <div class="logo">GIB'S MIR</div>
    <ul>
        <li class="nav-sig"><a href="/thanks">Your Signature</a></li>
        <li class="nav-prof"><a href="/profile">Your Profile</a></li>
        <li class="signout"><a href="/signout" class="signout">Signout</a>
        </li>
    </ul>
</div>
