
<div class="deleteprofile-container page-nav-container">
    {{> nav }}
    <div class="title-container">
        <h1>Are you sure you want to delete your profile?</h1>
    </div>
    <div class="deleteprofile">
        <h3>This will log you out and delete all of your personal data.</h3>
        <div class="delete-profile">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                
                <button type="submit" name="submitted" value="submitted">Throw my trash out!</button>
                <p class="cancel"><a href="/profile">Cancel</a></p>
            </form>
        </div>
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>