<div class="login-container">
    <div class="title-container">
        <h1>{{title}}</h1>
    </div>
    <div class="login">
        <p>Welcome to the Unknown Petition! Please log-in.</h3>
        <div class="login-form">
            <p>This is where an error message should go?</p>
            <form method="POST">
                <input type="text" name="firstname" placeholder="First Name" autocomplete="off" required>
                <input type="text" name="firstname" placeholder="Last Name" autocomplete="off" required>
                <input type="email" name="email" placeholder="Email Address" autocomplete="off" required>
                <input type="password" name="password" placeholder="Password" autocomplete="off" required>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit" name="submitted" value="submitted">Log in</button>
            </form>
        </div>
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>