<div class="login-container">
    <div class="title-container">
        <h1>Sign-in to your account.</h1>
    </div>
    <div class="login">
        <div class="login-form">
            <form method="POST">
                <input type="email" name="email" placeholder="Email Address" autocomplete="off">
                <input type="password" name="password" placeholder="Password" autocomplete="off">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit" name="submitted" value="submitted">Log in</button>
                {{#if emptyerror}}
                <p class="error">{{emptyerror}}</p>
                {{/if}}
                {{#if wrongCreds}}
                <p class="error">{{wrongCreds}}</p>
                {{/if}}
            </form>
        </div>
        <p class="no-account">Don't have an account? <a href="/sign-up">Sign-up here</a></p>
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>