<div class="petition-container">
    <div class="title-container">
        <h1>{{title}}</h1>
    </div>
    <div class="petition">
        <p>Sign our petition to make whatever this petition supports actually happen!</h3>
        <div class="petition-form">
            <form method="POST">
                <input id="fname" type="text" name="fname" placeholder="First Name" autocomplete="off" required>
                <input id="lname" type="text" name="lname" placeholder="Last Name" autocomplete="off" required>
                <canvas id="canvas" width="600" height="200"></canvas>
                <input type="hidden" name="sig" id="hidden">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <p id={{class}}>{{error}}</p>
                <button type="submit" name="submitted" value="submitted">Submit</button>
            </form>
        </div>
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>