<div class="registration-container">
    <div class="title-container">
        <h1>Sign-up to clean up</h1>
    </div>
    <div class="registration">
        <h3>Register now to add your signature to the clean crusade.</h3>
        <div class="petition-form">
            <form method="POST">
                <input type="text" name="firstname" placeholder="First Name" autocomplete="off" required>
                <input type="text" name="lastname" placeholder="Last Name" autocomplete="off" required>
                <input type="email" name="email" placeholder="Email Address" autocomplete="off" required>
                <input type="password" name="password" placeholder="Password" autocomplete="off" minlength="6" required>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit" name="submitted" value="submitted">Sign-up</button>
            </form>
        </div>
        <p class="has-account">Already have an account? <a href="/log-in">Sign-in</a></p>
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>