<div class="registration-container page-container">
    <div class="title-container">
        <h1>Sign-up to clean up</h1>
    </div>
    <div class="registration">
        <h3>Register now to add your signature to the clean crusade.</h3>
        <div class="petition-form">
            <form method="POST">
                <input type="text" name="firstname" id="firstname" autocomplete="off" required>
                <label for="firstname">First Name</label>
                <input type="text" name="lastname" id="lastname" autocomplete="off" required>
                <label for="lastname">Last Name</label>
                <input type="email" name="email" id="email" autocomplete="off" required>
                <label for="email">Email</label>
                <input type="password" name="password" id="password" autocomplete="off" minlength="6" required>
                <label for="password">Password</label>
                
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit" name="submitted" value="submitted">Sign-up</button>
            </form>
        </div>
        <p class="has-account">Already have an account? <a href="/sign-in">Sign-in</a></p>
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>