<div class="signers-container">
    <div class="title-container">
        <h1>{{title}}</h1>
    </div>
    <div class="signers">
        <p>We the people demand that this important topic be brought to justice</h3>
        <p>{{numOfSigs}} have signed. Goal: 1 million</p>
        <div class="thermometer">Should I make this a partial?</div>
        {{#signers}}
        <div class="people">
            {{fname}} {{lname}}
        </div>
        {{/signers}}
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>