{{> nav }}
<div class="thanks-container">
    <div class="title-container">
        <h1>{{title}}</h1>
    </div>
    <div class="thanks">
        <p>Thanks for signing our petition! Let's continue to make whatever this petition supports actually happen!</h3>
        <p>{{numOfSigs}} have signed. Goal: 1 million</p>
        <p class="sig"><img src={{userSig}} /></p>
        <div class="thermometer">Should I make this a partial?</div>
        <h3><a href="/signers">View other signers</a></h3>
        <div class="edit-profile">
                <p><a href="/profile/edit">Edit your Profile</a></p>
        </div>
        <div class="delete-sig">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit" name="submitted" value="submitted">Re-do your Signature</button>
            </form>
        </div>
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>