<div class="thanks-container page-nav-container">
    {{> nav }}
    <div class="title-container portal">
        <h1>Thanks, {{firstname}}!</h1>
    </div>
    <div class="thanks">
        <div class="left">
            <h3><span class="sig-count">You have joined <b>{{sigCount}}</b> other signers.</span>Your signature means we are one step closer to a cleaner city.</h3>
            <p class="sig"><img src={{userSig}} /></p>
        </div>

        <div class="right">
            
            <div class="links">
                <div><a href="/signers">View other signers <span class="arrow-diag">↗</span></a></div>
                <div><a href="/profile">View your Profile <span class="arrow-right">→</span></a></div>
                <div class="delete-sig">
                    <form method="POST">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button type="submit" name="submitted" value="submitted">Re-do your Signature <span class="arrow-redo">↺</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>