<div class="welcome-container">
    <div class="title-container">
        <h1 class="welcome">Hey Berlin, make your bins <span class="bigger">bigger!</span></h1>
    </div>
    <div class="enter">
        {{!-- <h3>So filthy ist nur Berlin.<br />There's too much trash on our streets and not enough room inside our bins.</h3> --}}
        <div class="enter-link"><a href="/sign-up">Sign the petition to clean our streets <span class="arrow-right">↝</span></a></div>
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>