* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: aliceblue;
    font-family: sans-serif;
    text-align: center;
}

canvas {
    border: 1px dashed;
}

.petition p,
.petition form {
    display: block;
    margin: 20px;
}
.petition input,
.petition canvas,
.petition button {
    display: block;
    margin: 20px auto;
}

#error {
    opacity: 0;
    visibility: hidden;
}
.errVisible {
    opacity: 1;
    visibility: visible;
}

.edit-form form {
    max-width: 250px;
    margin: 0 auto;
    text-align: left;
}
.edit-form form input {
    margin-bottom: 20px;
    display: block;
}
